<h1>Automated Testing Reports</h1>
{{id}}
<p>Description</p>
<ul>
  <li>Aggregates various types of Testing Reports from your build processes</li>
  <li>Generates Graphs and Statistics from testing reports</li>
  <li>Provides a convenient API to publish reports and query reports</li>
  <li>Organizes reports by Project/Team, per Repo and per Report Type</li>
</ul>
<p>Reporting Endpoints</p>
<ul>
  <li><strong>GET api/Projects</strong> Get all Projects</li>
  <li><strong>GET api/Project/(project)</strong> Get Project details</li>
  <li><strong>GET api/Project/(project)/Repos</strong> Get All Repos for a project</li>
  <li><strong>GET api/Project/(project)/Repos/(repo)</strong> Get Repo details</li>
  <li><strong>POST api/Reports</strong> Create a new Testing Report
      <div Markdown>
        ```javascript
        var s = "JavaScript syntax highlighting";
        alert(s);
        ```
      </div></li>
</ul>
<p>Publishing Reports</p>
<ul>
  <li>Reporting.cake</li>
  <li>curl</li>
  <li>powershell invoke-webservice</li>
  <li>C# HttpClient</li>
</ul>
<p>Report Format</p>
<ul>
  <li>Report</li>
  <li>ReportItem</li>
</ul>
<p>Report Types</p>
<ul>
  <li>JMeter csv files</li>
  <li>Corbetura Code Coverage</li>
  <li>Anything with a percent or time</li>
</ul>
<p>The ReportTool Repo is at: </p>
<p>The ReportTool is hosted at: and the database is at: </p>
